params {
    text1   = "Hello world from Nextflow and nf-diff"
    text2   = "Nextflow makes data-intensive computational pipelines reproducible"
    outdir  = "results"
}

profiles {
    test {
        params.text1  = "Hello world baseline test sample 1"
        params.text2  = "Hello world baseline test sample 2"
        params.outdir = "results"
    }
}
