params {
    samples = [
        sampleA: "${projectDir}/data/sampleA_R1.fastq",
        sampleB: "${projectDir}/data/sampleB_R1.fastq",
        sampleC: "${projectDir}/data/sampleC_R1.fastq"
    ]
    min_length = 30
    trim_bases = 5
    outdir     = "results"
}

lineage.enabled = true

profiles {
    test {
        params.min_length = 30
        params.trim_bases  = 5
        params.outdir      = "results"
    }
}
